In [1]:
# Import dependencies
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import time
from config import db_password

In [2]:
# Read the file into pandas dataframe
file_dir = 'C:/Users/gabi_/OneDrive/Desktop/Analysis/main/First Segment Rubric - Extract/'

In [3]:
# Read the file
pittsburgh_data_raw = pd.read_csv(f'{file_dir}pittsburgh_data_raw.csv', low_memory=False)
pittsburgh_data_raw.head()

,date,title,link,price,bedroom,sqft,neighborhood,bathroom,amenities
0,Dec 31,Green Tree City/5 minutes from Downtown,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,575",3,"available jan 2, 2",Kirsopp Avenue 5 Minutes from Downtown,2.0,"['air conditioning', 'house', 'w/d in unit', '..."
1,Dec 31,Renovated House on Pioneer ave!! Pets welcome.,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,650",3,1426,"2048 Pioneer Avenue, Pittsburgh, PA",1.0,"['cats are OK - purrr', 'dogs are OK - wooof',..."
2,Dec 31,JANUARY AVAILABILITY!! CALL NOW!!!,https://pittsburgh.craigslist.org/apa/d/coraop...,"$1,315",1,825,"916 Beaver Grade Road, Coraopolis, PA",1.0,"['air conditioning', 'cats are OK - purrr', 'd..."
3,Dec 31,This beautifully renovated whole house.,https://pittsburgh.craigslist.org/apa/d/pittsb...,$900,3,1397,NaN,2.0,"['apartment', 'w/d in unit', 'attached garage'..."
4,Dec 31,* Beautifully Clean & Renovated Apt* Very Larg...,https://pittsburgh.craigslist.org/apa/d/pittsb...,$700,2,NaN,Pittsburgh,1.0,"['air conditioning', 'cats are OK - purrr', 'd..."

In [4]:
# Put data into dataframe
pittsburgh_data_df = pd.DataFrame(pittsburgh_data_raw)

In [5]:
# Get rows and columns
pittsburgh_data_df.shape

(120, 9)

In [6]:
# Create modified database 
pittsburgh_clean_df = pittsburgh_data_df
pittsburgh_clean_df.head()

,date,title,link,price,bedroom,sqft,neighborhood,bathroom,amenities
0,Dec 31,Green Tree City/5 minutes from Downtown,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,575",3,"available jan 2, 2",Kirsopp Avenue 5 Minutes from Downtown,2.0,"['air conditioning', 'house', 'w/d in unit', '..."
1,Dec 31,Renovated House on Pioneer ave!! Pets welcome.,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,650",3,1426,"2048 Pioneer Avenue, Pittsburgh, PA",1.0,"['cats are OK - purrr', 'dogs are OK - wooof',..."
2,Dec 31,JANUARY AVAILABILITY!! CALL NOW!!!,https://pittsburgh.craigslist.org/apa/d/coraop...,"$1,315",1,825,"916 Beaver Grade Road, Coraopolis, PA",1.0,"['air conditioning', 'cats are OK - purrr', 'd..."
3,Dec 31,This beautifully renovated whole house.,https://pittsburgh.craigslist.org/apa/d/pittsb...,$900,3,1397,NaN,2.0,"['apartment', 'w/d in unit', 'attached garage'..."
4,Dec 31,* Beautifully Clean & Renovated Apt* Very Larg...,https://pittsburgh.craigslist.org/apa/d/pittsb...,$700,2,NaN,Pittsburgh,1.0,"['air conditioning', 'cats are OK - purrr', 'd..."

In [7]:
#Getting null values for Pittsburgh
[[column,pittsburgh_clean_df[column].isnull().sum()] for column in pittsburgh_clean_df.columns]

[['date', 0],
 ['title', 0],
 ['link', 0],
 ['price', 0],
 ['bedroom', 0],
 ['sqft', 19],
 ['neighborhood', 2],
 ['bathroom', 0],
 ['amenities', 0]]

In [8]:
# Drop title
pittsburgh_clean_df = pittsburgh_clean_df.drop(['title'], axis=1)
pittsburgh_clean_df.head()

,date,link,price,bedroom,sqft,neighborhood,bathroom,amenities
0,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,575",3,"available jan 2, 2",Kirsopp Avenue 5 Minutes from Downtown,2.0,"['air conditioning', 'house', 'w/d in unit', '..."
1,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,650",3,1426,"2048 Pioneer Avenue, Pittsburgh, PA",1.0,"['cats are OK - purrr', 'dogs are OK - wooof',..."
2,Dec 31,https://pittsburgh.craigslist.org/apa/d/coraop...,"$1,315",1,825,"916 Beaver Grade Road, Coraopolis, PA",1.0,"['air conditioning', 'cats are OK - purrr', 'd..."
3,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,$900,3,1397,NaN,2.0,"['apartment', 'w/d in unit', 'attached garage'..."
4,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,$700,2,NaN,Pittsburgh,1.0,"['air conditioning', 'cats are OK - purrr', 'd..."

In [9]:
# Check which columns need to be converted
pittsburgh_clean_df.dtypes

date             object
link             object
price            object
bedroom           int64
sqft             object
neighborhood     object
bathroom        float64
amenities        object
dtype: object

In [10]:
pittsburgh_clean_df['bedroom'].value_counts()

2    59
1    37
3    18
4     6
Name: bedroom, dtype: int64

In [11]:
pittsburgh_clean_df['amenities'].astype("string")

0      ['air conditioning', 'house', 'w/d in unit', '...
1      ['cats are OK - purrr', 'dogs are OK - wooof',...
2      ['air conditioning', 'cats are OK - purrr', 'd...
3      ['apartment', 'w/d in unit', 'attached garage'...
4      ['air conditioning', 'cats are OK - purrr', 'd...
                             ...
115    ['application fee details: 35.00', 'cats are O...
116    ['air conditioning', 'apartment', 'laundry in ...
117    ['application fee details: 35.00', 'cats are O...
118    ['cats are OK - purrr', 'apartment', 'laundry ...
119    ['application fee details: 35.00', 'cats are O...
Name: amenities, Length: 120, dtype: string

In [12]:
num_occurrences = pittsburgh_clean_df['amenities'].str.count(',').sum()
print(num_occurrences)

707

In [13]:
counts = pittsburgh_clean_df['amenities'].apply(lambda x: x.count(','))
pittsburgh_clean_df['amenity_count'] = counts
pittsburgh_clean_df.head()

,date,link,price,bedroom,sqft,neighborhood,bathroom,amenities,amenity_count
0,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,575",3,"available jan 2, 2",Kirsopp Avenue 5 Minutes from Downtown,2.0,"['air conditioning', 'house', 'w/d in unit', '...",5
1,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,"$1,650",3,1426,"2048 Pioneer Avenue, Pittsburgh, PA",1.0,"['cats are OK - purrr', 'dogs are OK - wooof',...",6
2,Dec 31,https://pittsburgh.craigslist.org/apa/d/coraop...,"$1,315",1,825,"916 Beaver Grade Road, Coraopolis, PA",1.0,"['air conditioning', 'cats are OK - purrr', 'd...",7
3,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,$900,3,1397,NaN,2.0,"['apartment', 'w/d in unit', 'attached garage'...",3
4,Dec 31,https://pittsburgh.craigslist.org/apa/d/pittsb...,$700,2,NaN,Pittsburgh,1.0,"['air conditioning', 'cats are OK - purrr', 'd...",6

In [14]:
# Remove duplicate rows
pittsburgh_clean_df['link'] = pittsburgh_clean_df['link'].str.extract(r'(\d{10}.html)')
print(len(pittsburgh_clean_df))
pittsburgh_clean_df.drop_duplicates(subset='link', inplace=True)
print(len(pittsburgh_clean_df))
pittsburgh_clean_df.head()

120
120

,date,link,price,bedroom,sqft,neighborhood,bathroom,amenities,amenity_count
0,Dec 31,7573496495.html,"$1,575",3,"available jan 2, 2",Kirsopp Avenue 5 Minutes from Downtown,2.0,"['air conditioning', 'house', 'w/d in unit', '...",5
1,Dec 31,7563589212.html,"$1,650",3,1426,"2048 Pioneer Avenue, Pittsburgh, PA",1.0,"['cats are OK - purrr', 'dogs are OK - wooof',...",6
2,Dec 31,7566893908.html,"$1,315",1,825,"916 Beaver Grade Road, Coraopolis, PA",1.0,"['air conditioning', 'cats are OK - purrr', 'd...",7
3,Dec 31,7573493886.html,$900,3,1397,NaN,2.0,"['apartment', 'w/d in unit', 'attached garage'...",3
4,Dec 31,7573493973.html,$700,2,NaN,Pittsburgh,1.0,"['air conditioning', 'cats are OK - purrr', 'd...",6

In [15]:
pittsburgh_clean_df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 119
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           120 non-null    object
 1   link           120 non-null    object
 2   price          120 non-null    object
 3   bedroom        120 non-null    int64
 4   sqft           101 non-null    object
 5   neighborhood   118 non-null    object
 6   bathroom       120 non-null    float64
 7   amenities      120 non-null    object
 8   amenity_count  120 non-null    int64
dtypes: float64(1), int64(2), object(6)
memory usage: 9.4+ KB

C:\Users\gabi_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [16]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_database"

In [17]:
engine = create_engine(db_string)

In [18]:
pittsburgh_clean_df.to_sql(name='pittsburgh database', con=engine)